html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    border-top: solid #eee 1px;
    background-color: #eee;
}

    .footer div {
        width: 200px;
        padding-top: 1em;
    }

.iconmelon {
    width: 50%;
    height: 50%;
}

#loginbox {
    margin-top: 3em;
}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.row.top-buffer {
    margin-top: 2em;
}

.row.top-buffer-sm {
    margin-top: 1em;
}

.form-horizontal.create-profile .control-label {
    padding-top: 0;
}

.img-circle {
    margin-right: 1em;
    margin-top: .5em;
    margin-left: .5em;
}

.nav .dropdown, .logout {
    cursor: pointer;
}

.has-error .form-control, .has-error .form-control:focus {
    border: 2px solid #e74c3c;
}

input.ng-dirty.ng-invalid {
    border: 2px solid #e74c3c;
}

#loading-bar .bar {
    background: #3be6c4 !important;
}

/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.col-fixed {
    /* custom width */
    width: 320px;
}

.col-min {
    /* custom min width */
    min-width: 320px;
}

.col-max {
    /* custom max width */
    max-width: 320px;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.reservation-grid tbody tr td div div {
    font-size: 14px;
}

.form-group .popover-inner {
    width: 10em;
}

.input-group-addon {
    cursor: pointer;
}

div[ng-view].ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

div[ng-view].ng-enter-active {
    opacity: 1;
}

div[ng-view].ng-hide-remove {
    -webkit-animation: fadeOut 2.5s;
    animation: fadeOut 2.5s;
}

div[ng-view].ng-hide-add {
    -webkit-animation: flipOutX 2.5s;
    animation: flipOutX 2.5s;
    display: block !important;
}

tr.ng-scope {
    cursor: pointer;
}

.toast-success {
    background-color: #128f76;
}

.glyphicon.glyphicon-remove {
    padding-top: 0.5em;
    margin-left: -1em;
}

.tools-panel .add-tool {
    cursor: pointer;
    padding-top: 10px;
}

    .tools-panel .add-tool:hover {
        background-color: #95a5a6;
        color: #fff !important;
    }

hr {
    margin-top: 15px;
    margin-bottom: 5px;
}

.panel-footer {
    min-height: 45px;
}

.modal-dialog.modal-md {
    margin-top: 5em;
}

.tools-inventory-filters .col-md-3.filter-col {
    margin-right: -20px;
    margin-left: -25px;
}

.summary-date {
    white-space: nowrap;
}

.summary-items {
    height: auto;
    max-height: 225px;
    overflow-y: scroll;
}

.inline-headers h4, .inline-headers h5 {
    display: inline-block;
    vertical-align: baseline;
}

.tr-ng-grid.disable-pagination tfoot.ng-scope,
.tr-ng-grid.disable-pagination .tr-ng-grid-footer ul.pagination li:last-child {
    display: none;
}

.tr-ng-grid.disable-pagination-total .tr-ng-grid-footer ul.pagination li:last-child {
    display: none;
}

.paymentform .payment-fields div{
    
}