<div ng-model="vm" ng-controller="navigationController as vm">

    <ul class="nav navbar-nav navbar-right" ng-show="vm.isCustomer()">
        <li>
            <a href="#/reservations">Reservations</a>
        </li>
        <li>
            <a href="#/tools">Tools Availability</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                Account <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <i class="glyphicon glyphicon-none"></i> Profile
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="vm.logoff()">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        <i class="glyphicon glyphicon-none"></i> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-hide="vm.isCustomer()">
        <li>
            <a href="#/clerk/dashboard">Reservations</a>
        </li>
        <li>
            <a href="#/clerk/tools-management">Tools Management</a>
        </li>
        <li>
            <a href="#/clerk/service-orders">Service Orders</a>
        </li>         
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                Reports <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#/report1">Inventory Report</a>
                </li>
                <li>
                    <a href="#/report2">Customer Rentals Report</a>
                </li>
                <li>
                    <a href="#/report3">Clerk Performance</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="logout" ng-click="vm.logoff()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                <i class="glyphicon glyphicon-none"></i> Logout
            </a>
        </li>
    </ul>
</div>