<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row row-centered">
            <div class="center-block">
                <h4 class="modal-title">Add New Tool</h4>
            </div>
        </div>
    </div>
    <form name="profileForm" class="form-horizontal" novalidate ng-submit="vm.submit()">
        <div class="modal-body">
            <div class="row top-buffer">
                <div class="col-md-12">

                    <fieldset>
                        <script type="text/ng-template" id="myPopoverTemplate.html">
                            <div>{{dynamicPopover.content}}</div>
                            <div class="form-group">
                                <label>Popup Title:</label>
                                <input type="text" ng-model="dynamicPopover.title" class="form-control">
                            </div>
                        </script>

                        <div class="row">
                            <!-- Description input-->
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label class="control-label" for="txtToolName">Abbreviated Description</label>
                                    <div class="form-group">
                                        <input id="txtToolName" name="txtToolName" type="text" placeholder="Enter Abbreviated Description" class="form-control input-sm" required
                                               ng-model="vm.tool.description">
                                    </div>
                                </div>
                            </div>

                            <!-- OriginalPrice input-->
                            <div class="col-md-6">

                                <label class="control-label" for="txtOriginalPrice">Purchase Price</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">$</span>
                                    <input id="txtOriginalPrice" name="txtOriginalPrice" type="text" placeholder="Enter Purchase Price" class="form-control input-sm"
                                           required ng-model="vm.tool.originalPrice" valid-number>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- DailyRentalPrice input-->
                            <div class="col-md-6">
                                <label class="control-label" for="txtRentalPrice">Rental Price (per day)</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">$</span>
                                    <input id="txtRentalPrice" name="txtRentalPrice" type="text" placeholder="Enter Daily Rental Price" class="form-control input-sm" required
                                           ng-model="vm.tool.dailyRentalCharge" valid-number>
                                </div>
                            </div>
                            <!-- Deposit input-->
                            <div class="col-md-6">

                                <label class="control-label" for="txtDeposit">Deposit Amount</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon">$</span>
                                    <input id="txtDeposit" name="txtDeposit" type="text" placeholder="Enter Depposit Amount" class="form-control input-sm"
                                           required ng-model="vm.tool.deposit" valid-number>
                                </div>
                            </div>
                        </div>

                        <div class="row top-buffer-sm">
                            <!-- Longdescription input-->
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label" for="txtLongdescription">Full Description</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" id="txtLongdescription" name="txtLongdescription" ng-model="vm.tool.longDescription" ng-maxlength="300"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tool Type input -->
                        <div class="row">
                            <!-- Type input -->
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label control-label" for="ddlTooType">Tool Type</label>
                                    <div class="form-group">
                                        <select id="ddlTooType" ng-model="vm.selectedToolType" ng-options="type as type for type in vm.toolTypes track by type" class="form-control" required
                                                ng-change="vm.toolTypeChange()">
                                            <option value="" selected>Select a Tool Type</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="vm.selectedToolType === 'PowerTool'">
                            <div class="col-md-12">
                                <div class="panel panel-default tools-panel">
                                    <div class="panel-heading">Accessories</div>
                                    <div class="panel-body">
                                        <div class="form-group form-group-sm" ng-repeat="row in vm.tool.accessories">
                                            <div class="col-xs-1" style="padding-top: 5px; padding-left: 25px;">
                                                <div class="input-group input-group-sm">
                                                    <p>{{$index + 1}}</p>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <input id="txtAccessory" name="txtAccessory" type="text" placeholder="Enter Accessory" class="form-control input-sm"
                                                       ng-model="row.accessory" ng-maxlength="50">
                                            </div>
                                            <div class="col-xs-1" ng-click="vm.removeRow($index)" ng-hide="$index === 0 && vm.tool.accessories.length === 1">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row add-tool center-block row-centered" ng-mouseenter="vm.addHighlight()" ng-mouseleave="vm.removeHighlight()" ng-click="vm.addRow()"
                                             ng-hide="vm.disableAdd">
                                            <div class="col-xs-1 col-centered">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </div>
                                            <div class="col-md-5 col-centered" ">
                                                <p class="text-success">Add new Accessories</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="pull-left">Qty: {{vm.tool.accessories.length}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row row-centered inline-headers">
                <div class="col-md-12">
                    <div class="center-block">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.back()">Back</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>