<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row row-centered">
            <div class="center-block">
                <h4 class="modal-title">Reservation Summary</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row row-centered">
            <div class="col-md-12 inline-headers">
                <h5>From:</h5>&nbsp;
                <h4>{{vm.reservation.startDate | date: 'fullDate'}}</h4>
                <h5>at</h5>&nbsp;
                <h4>{{vm.reservation.startDate | date: 'mediumTime'}}</h4>
            </div>
        </div>
        <div class="row row-centered inline-headers">
            <div class="col-md-12">
                <h5>To:</h5>&nbsp;
                <h4>{{vm.reservation.endDate | date: 'fullDate'}}</h4>
                <h5>at</h5>&nbsp;
                <h4>{{vm.reservation.endDate | date: 'mediumTime'}}</h4>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-12 summary-items center-block">
                <table tr-ng-grid="" class="table table-striped table-hover table-responsive disable-pagination" selected-items="mySelectedItems" items="vm.reservation.tools" enable-filtering="false" enable-sorting="false"
                       cell-width="10em" selection-mode="None">
                    <thead>
                        <tr>
                            <th field-name="id" display-name="ID" cell-width="3em" enable-sorting="false" display-align="center"></th>
                            <th field-name="description" display-name="Name" display-align="center" ></th>
                            <th field-name="dailyRentalCharge" display-name="Daily Rental Charge" display-format="displayCurrency:gridItem" display-align="center" cell-width="12em"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row ">
            <hr />
            <div class="row row-centered">
                <div class="col-md-12 inline-headers">
                    <h5>Total Rental Price:</h5>&nbsp;<h4>{{vm.reservation.dailyTotal | currency}}</h4>
                </div>
            </div>
            <div class="row row-centered inline-headers">
                <div class="col-md-12">
                    <h5>Total Deposit Required:</h5>&nbsp;<h4>{{vm.reservation.depositTotal | currency}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row row-centered inline-headers">
            <div class="col-md-12">
                <div class="center-block">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancel()">Back</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>