<div class="container">
    <div class="row top-buffer">
        <div class="pull-left">
            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.createReservation()">
                <i class="glyphicon glyphicon-plus"></i>
                <i class="glyphicon glyphicon-none"></i> Make a Reservation
            </button>
        </div>
        <div>
            <button class="btn btn-primary btn-sm pull-right" ng-click="vm.refresh()">
                <i class="glyphicon glyphicon-refresh"></i>
                <i class="glyphicon glyphicon-none"></i> Refresh
            </button>
        </div>
    </div>
    <div class="row top-buffer" ng-init="displaySelected()">
        <table tr-ng-grid="" class="table table-striped table-hover reservation-grid" selected-items="mySelectedItems" items="vm.reservations" enable-filtering="false"
               cell-width="10em" selection-mode="SingleRow">
            <thead>
                <tr>
                    <th field-name="id" display-name="ID" cell-width="2em"></th>
                    <th field-name="dateCreated" display-name="Created" display-format="displayAsShortDate:gridItem" display-align="center"></th>
                    <th field-name="startDate" display-name="Start" display-format="displayAsShortDate:gridItem" display-align="center"></th>
                    <th field-name="endDate" display-name="End" display-format="displayAsShortDate:gridItem" display-align="center">></th>
                    <th field-name="tools" display-name="Tools"></th>
                    <th field-name="deposit" display-name="Deposit" display-align="center" cell-width="5em" display-format="displayCurrency:gridItem"></th>
                    <th field-name="rentalPrice" display-name="Rental Total" display-align="center" cell-width="7em" display-format="displayCurrency:gridItem"></th>
                    <th field-name="pickUpDate" display-name="PickUp Date" display-align="center" display-format="displayAsShortDate:gridItem" cell-width="8em"></th>
                    <th field-name="pickUpHandledBy" display-name="PickUp Clerk" cell-width="8em"></th>
                    <th field-name="dropOffDate" display-name="DropOff Date" display-align="center" display-format="displayAsShortDate:gridItem" cell-width="8em"></th>
                    <th field-name="dropOffHandledBy" display-name="DropOff Clerk" cell-width="8em"></th>
                </tr>
            </thead>
            <!--<tbody>
                <tr ng-class="{success: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"></tr>
            </tbody>-->
        </table>
    </div>
</div>