<div class="container-fluid">
    <form name="reservationForm" class="form-horizontal create-profile" novalidate ng-controller="reservationCreateController as vm" ng-submit="vm.ok()">
        <fieldset>

            <div class="row top-buffer">
                <div class="col-md-6 col-md-offset-5">
                    <!-- Form Name -->
                    <legend>Create New Profile</legend>
                </div>
            </div>
            <!-- Account Inputs-->
            <div class="row">
                <!-- Email Address input-->
                <div class="col-md-6 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtEmail">Email Address (Username)</label>
                        <div class="form-group" ng-class="{ 'has-error' : reservationForm.email.$invalid && !reservationForm.email.$pristine }">
                            <input id="txtEmail" name="email" type="email" placeholder="Enter an Email Address" class="form-control input-md" required ng-model="vm.reservation.email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Password input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtPassword">Password</label>
                        <div class="form-group">
                            <input id="txtPassword" name="txtPassword" type="password" placeholder="Enter Password" class="form-control input-md" required ng-model="vm.reservation.password">
                        </div>
                    </div>
                </div>
                <!-- Confirm Password input-->
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtConfirmPassword">Confirm Password</label>
                        <div class="form-group">
                            <input id="txtConfirmPassword" name="txtConfirmPassword" type="password" placeholder="Confirm Password" class="form-control input-md" required ng-model="vm.reservation.passwordConfirm">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Personal Inputs-->
            <div class="row">
                <!-- FirstName input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtFirstName">First Name</label>
                        <div class="form-group">
                            <input id="txtFirstName" name="txtFirstName" type="text" placeholder="Enter First Name" class="form-control input-md" required ng-model="vm.reservation.firstName">
                        </div>
                    </div>
                </div>

                <!-- LastName input-->
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtLastName">Last Name</label>
                        <div class="form-group">
                            <input id="txtLastName" name="txtLastName" type="text" placeholder="Enter Last Name" class="form-control input-md" required ng-model="vm.reservation.lastName">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Phone Inputs-->
            <div class="row">
                <!-- HomePhone input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="txtHomePhone">Home Phone</label>
                            <input id="txtHomePhone" name="txtHomePhone" type="text" placeholder="Enter Home Number" class="form-control input-md" required ng-model="vm.reservation.homePhone"
                                   ui-mask="(999) 999-9999" ui-mask-placeholder ui-mask-placeholder-char="_">
                        </div>
                    </div>
                </div>

                <!-- WorkPhone input-->
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtWorkPhone">Work Phone</label>
                        <div class="form-group">
                            <input id="txtWorkPhone" name="txtWorkPhone" type="text" placeholder="Enter Work Number (Optional)" class="form-control input-md" required ng-model="vm.reservation.workPhone">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Address inputs-->
            <div class="row">
                <!-- AddressLine1 input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtAddressLine1">Address Line 1</label>
                        <div class="form-group">
                            <input id="txtAddressLine1" name="txtAddressLine1" type="text" placeholder="Enter Address Line 1" class="form-control input-md" required ng-model="vm.reservation.addressLine1">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtAddressLine2">Address Line 2</label>
                        <div class="form-group">
                            <input id="txtAddressLine2" name="txtAddressLine2" type="text" placeholder="Enter Address Line 2" class="form-control input-md" ng-model="vm.reservation.addressLine2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- City input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="col-md-2 control-label" for="txtCity">City</label>
                        <div class="form-group">
                            <input id="txtCity" name="txtCity" type="text" placeholder="Enter City" class="form-control input-md" required ng-model="vm.reservation.city">
                        </div>
                    </div>
                </div>
                <!-- State input-->
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="col-md-2 control-label" for="ddlState">State</label>
                        <div class="form-group">
                            <select id="ddlState" ng-model="vm.selectedState"
                                    ng-options="state.name as state.name for state in vm.states" class="form-control" required>
                                <option value="" selected>Select a State</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Country input-->
                <div class="col-md-3 col-md-offset-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtCountry">Country</label>
                        <div class="form-group">
                            <input id="txtCountry" name="txtCountry" type="text" placeholder="United States" class="form-control input-md" disabled ng-model="vm.reservation.country">
                        </div>
                    </div>
                </div>
                <!-- ZipCode input-->
                <div class="col-md-3">
                    <div class="col-md-12">
                        <label class="control-label" for="txtZipCode">Zip Code</label>
                        <div class="form-group">
                            <input id="txtZipCode" name="txtZipCode" type="text" placeholder="Enter Zip Code" class="form-control input-md" required ng-model="vm.reservation.zipCode">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-centered">
                <!-- Submit -->
                <div class="col-md-2 col-centered">
                    <label class="control-label" for="btnSubmit"></label>
                    <div class="form-group">
                        <button id="btnBack" name="btnSubmit" class="btn btn-block btn-lg btn-default" type="button" ng-click="vm.cancel()">
                            <span class="glyphicon glyphicon-log-out icon-flipped"></span>  Back
                        </button>
                    </div>
                </div>


                <div class="col-md-1 col-centered"></div>
                <div class="col-md-2 col-centered">
                    <label class="control-label" for="btnSubmit"></label>
                    <div class="form-group">
                        <button id="btnSubmit" name="btnSubmit" class="btn btn-block btn-lg btn-success" type="submit" ng-disabled="reservationForm.$invalid">
                            <span class="glyphicon glyphicon-floppy-disk"></span>  Submit
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>