<div class="container" ng-controller="loginController as vm">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="row">
            <div class="span4"></div>
            <div class="span4"><img src="/Assets/constructocat2.jpg" class="iconmelon center-block" alt="Constructocat" /></div>
            <div class="span4"></div>
        </div>

        <div class="panel panel-default" ng-form name="loginForm">
            <div class="panel-heading" ng-show="vm.error">
                <div class="panel-title text-center text-danger">
                    Username or Password incorrect.
                    <br />
                    Please try again
                </div>
            </div>
            <!-- Login Form Body-->
            <div class="panel-body">
                <div id="username-section" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                    <input id="customer" type="email" class="form-control" name="user" placeholder="User Name" required
                           ng-blur="vm.validate(loginForm.user.$valid, 'username-section')"
                           ng-model="vm.userName" ng-show="vm.credentials.type === 'customer'">

                    <input id="clerk" type="text" class="form-control" name="clerk" placeholder="Clerk User Name" required
                           ng-blur="vm.validate(loginForm.user.$valid, 'username-section')"
                           ng-model="vm.clerkName" ng-hide="vm.credentials.type !== 'clerk'">
                </div>

                <br />
                <div id="password-section" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                           ng-blur="vm.validate(loginForm.password.$valid, 'password-section')"
                           ng-model="vm.credentials.password" required>
                </div>

                <br />

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn" ng-class="vm.isCustomer() ? 'btn-primary' : 'btn-disabled'"
                                ng-click="vm.setUserType('customer')">
                            Customer
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn" ng-class="!vm.isCustomer() ? 'btn-primary' : 'btn-disabled'"
                                ng-click="vm.setUserType('clerk')">
                            Clerk
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <!-- Button -->
                    <br />
                    <div class="col-sm-12 controls">
                        <button class="btn btn-primary pull-right" ng-click="vm.login(vm.credentials)">
                            <i class="glyphicon glyphicon-log-in"></i> Log in
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>